#analise 1

In [ ]:
import pandas as pd
import numpy as np
import re

In [ ]:
df_users = pd.read_csv('users.csv')
df_users

,"id|""name""|""profile""|""course""|""phone_number""|""email""|""car_owner""|""car_model""|""car_color""|""car_plate""|""token""|""created_at""|""updated_at""|""location""|""face_id""|""profile_pic_url""|""deleted_at""|""id_ufrj""|""app_platform""|""app_version""|""banned""|""institution_id""|""profile_pic_url_old""",Unnamed: 1,Unnamed: 2,Unnamed: 3
0,2731|Leticia Lima Barreira Garcia|Graduação|En...,NaN,NaN,NaN
1,5014|Uisis Rodrigues Dos Santos|Graduação|Serv...,NaN,NaN,NaN
2,"9373|Necesio Gomes Costa|Servidor|""""|||false||...",NaN,NaN,NaN
3,14889|Vitor Simoes Cardoso De Andrade|Servidor...,NaN,NaN,NaN
4,15063|Elisa Cunha Leal De Araujo|Graduação|Qui...,NaN,NaN,NaN
...,...,...,...,...
19906,15180|Clayson Lopes Da Cruz|Graduação|Geografi...,NaN,NaN,NaN
19907,"16587|Luan Dos Santos|Servidor|""""|""02198375757...",NaN,NaN,NaN
19908,11710|Deborah Marques De Oliveira|Graduação|Li...,NaN,NaN,NaN
19909,19544|Alanis Macao Marau|Graduação|Letras: Por...,NaN,NaN,NaN
19910,7043|Laysa Martins Silva|Graduação|Ciências Bi...,NaN,NaN,NaN

In [ ]:
df_rides = pd.read_csv('rides.csv')
df_rides

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (11,13,14,15,16,17,18,19,20,22) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,"id|""myzone""|""neighborhood""|""going""|""place""|""route""|""routine_id""|""hub""|""slots""|""description""|""created_at""|""updated_at""|""week_days""|""repeats_until""|""done""|""deleted_at""|""date""",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22
0,108446|Zona Sul|Botafogo|false|Lauro Müller/Ri...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,123409|Zona Norte|Riachuelo|false|proximo ao p...,3,"5""||false||2017-09-06 17:00:00",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,123410|Zona Norte|Riachuelo|false|proximo ao p...,3,"5""||false||2017-09-08 17:00:00",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,123411|Zona Norte|Riachuelo|false|proximo ao p...,3,"5""||false||2017-09-11 17:00:00",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,123412|Zona Norte|Riachuelo|false|proximo ao p...,3,"5""||false||2017-09-13 17:00:00",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104076,157009|Zona Sul|Cosme Velho|false|estação do c...,Pinheiro Machado,Prefeitura,Leopoldina,"||CT: Bloco A|4|""""|2019-05-09 17:04:27|2019-05...",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
104077,161552|Zona Oeste|Barra da Tijuca|true|Centro ...,50 para ajudar no pedágio e gasolina. Estando ...,só entrar em contato. Grata.|2019-09-19 08:37:...,2,3,4,"5""|2019-11-20|false||2019-11-13 08:30:00",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
104078,161553|Zona Oeste|Barra da Tijuca|true|Centro ...,50 para ajudar no pedágio e gasolina. Estando ...,só entrar em contato. Grata.|2019-09-19 08:37:...,2,3,4,"5""|2019-11-20|false||2019-11-14 08:30:00",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
104079,161554|Zona Oeste|Barra da Tijuca|true|Centro ...,50 para ajudar no pedágio e gasolina. Estando ...,só entrar em contato. Grata.|2019-09-19 08:37:...,2,3,4,"5""|2019-11-20|false||2019-11-15 08:30:00",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
104080,161555|Zona Oeste|Barra da Tijuca|true|Centro ...,50 para ajudar no pedágio e gasolina. Estando ...,só entrar em contato. Grata.|2019-09-19 08:37:...,2,3,4,"5""|2019-11-20|false||2019-11-18 08:30:00",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df_ride_user = pd.read_csv('ride_user.csv')
df_ride_user

      id|"user_id"|"ride_id"|"created_at"|"updated_at"|"status"
0      22835|3015|22064|2016-04-13 19:22:40|2016-04-1...
1      23608|297|22791|2016-04-13 20:34:05|2016-04-13...
2      10316|1781|8582|2016-04-10 23:53:52|2016-04-11...
3      16266|685|15945|2016-04-11 23:11:12|2016-04-11...
4      10030|1645|9902|2016-04-10 22:32:41|2016-04-10...
...                                                  ...
84308  196410|15778|160551|2019-08-21 15:18:03|2019-0...
84309  196411|15778|160552|2019-08-21 15:18:03|2019-0...
84310  196412|15778|160553|2019-08-21 15:18:03|2019-0...
84311  196413|15778|160554|2019-08-21 15:18:03|2019-0...
84312  197751|17563|159255|2019-09-24 19:09:25|2019-0...

[84313 rows x 1 columns]

##Preprocessamento

In [ ]:
def column_creator(data):
  col = re.sub('"', "", data.columns[0])
  x = col.split('|')
  new = data[data.columns[0]].str.split('|', n=len(x), expand=True)

  d = {}
  for i in range(len(x)):
    d[i] = str(x[i])

  new.rename(columns = d, inplace = True)
  return new

In [ ]:
column_creator(df_rides)

,id,myzone,neighborhood,going,place,route,routine_id,hub,slots,description,created_at,updated_at,week_days,repeats_until,done,deleted_at,date,17
0,108446,Zona Sul,Botafogo,false,Lauro Müller/Riosul,"""""",,CT: Bloco A,4,"""""",2017-04-19 14:36:14,2017-04-19 14:36:14,,,false,,2017-04-19 15:00:00,None
1,123409,Zona Norte,Riachuelo,false,proximo ao prix,sao cristovao e marechal rondom,123400,CT: Bloco H,4,"""""",2017-08-16 13:24:50,2017-08-16 13:24:50,"""1",None,None,None,None,None
2,123410,Zona Norte,Riachuelo,false,proximo ao prix,sao cristovao e marechal rondom,123400,CT: Bloco H,4,"""""",2017-08-16 13:24:50,2017-08-16 13:24:50,"""1",None,None,None,None,None
3,123411,Zona Norte,Riachuelo,false,proximo ao prix,sao cristovao e marechal rondom,123400,CT: Bloco H,4,"""""",2017-08-16 13:24:50,2017-08-16 13:24:50,"""1",None,None,None,None,None
4,123412,Zona Norte,Riachuelo,false,proximo ao prix,sao cristovao e marechal rondom,123400,CT: Bloco H,4,"""""",2017-08-16 13:24:50,2017-08-16 13:24:50,"""1",None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104076,157009,Zona Sul,Cosme Velho,false,estação do corcovado,Laranjeiras,None,None,None,None,None,None,None,None,None,None,None,None
104077,161552,Zona Oeste,Barra da Tijuca,true,Centro Metropolitano (Shopping Metropolitano),Linha amarela,161514,CT,3,Solicito uma colaboração de R$4,None,None,None,None,None,None,None,None
104078,161553,Zona Oeste,Barra da Tijuca,true,Centro Metropolitano (Shopping Metropolitano),Linha amarela,161514,CT,3,Solicito uma colaboração de R$4,None,None,None,None,None,None,None,None
104079,161554,Zona Oeste,Barra da Tijuca,true,Centro Metropolitano (Shopping Metropolitano),Linha amarela,161514,CT,3,Solicito uma colaboração de R$4,None,None,None,None,None,None,None,None
104080,161555,Zona Oeste,Barra da Tijuca,true,Centro Metropolitano (Shopping Metropolitano),Linha amarela,161514,CT,3,Solicito uma colaboração de R$4,None,None,None,None,None,None,None,None

In [ ]:
column_creator(df_users)

,id,name,profile,course,phone_number,email,car_owner,car_model,car_color,car_plate,...,location,face_id,profile_pic_url,deleted_at,id_ufrj,app_platform,app_version,banned,institution_id,profile_pic_url_old
0,2731,Leticia Lima Barreira Garcia,Graduação,Enfermagem e Obstetricia,,,false,,,,...,,,,,"""15679221713""",,,false,1,
1,5014,Uisis Rodrigues Dos Santos,Graduação,Servico Social,,,false,,,,...,,,https://sigadocker.ufrj.br:8090/1056A42C-92A4-...,,"""14015740769""",,,false,1,
2,9373,Necesio Gomes Costa,Servidor,"""""",,,false,,,,...,,,,,"""49814982768""",,,false,1,
3,14889,Vitor Simoes Cardoso De Andrade,Servidor,Química,"""021996994879""",vitorsimoesbr@gmail.com,false,,,,...,Botafogo,,https://sigadocker.ufrj.br:8090/482A0D66-92A4-...,,"""11705240798""",iOS,"""1.1.7""",false,1,
4,15063,Elisa Cunha Leal De Araujo,Graduação,Quimica,,,false,,,,...,,,https://sigadocker.ufrj.br:8090/87E8FBB7-7F00-...,,"""12897912790""",,,false,1,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19906,15180,Clayson Lopes Da Cruz,Graduação,Geografia,"""021965539453""",claysonlp@gmail.com,false,"""""","""""","""""",...,Botafogo,"""""",https://platform-lookaside.fbsbx.com/platform/...,,"""12834264716""",iOS,"""1.5.0""",false,1,https://scontent.xx.fbcdn.net/v/t1.0-1/p200x20...
19907,16587,Luan Dos Santos,Servidor,"""""","""021983757577""",santosluan.br@gmail.com,false,"""""","""""","""""",...,Olaria,"""""",https://s3.amazonaws.com/usercontent.caronae/p...,,"""12421029732""",iOS,"""1.5.0""",false,1,https://lookaside.facebook.com/platform/profil...
19908,11710,Deborah Marques De Oliveira,Graduação,Licenciatura em Educação Física,"""021994949094""",deborah.oliveira7@hotmail.com,true,Gol,Preto,MTW-9851,...,Bento Ribeiro,"""1332346936825653""",https://s3.amazonaws.com/usercontent.caronae/p...,,"""15776257735""",iOS,"""1.5.0""",false,1,https://scontent.xx.fbcdn.net/v/t1.0-1/p200x20...
19909,19544,Alanis Macao Marau,Graduação,Letras: Português-Italiano (NC),"""021971831576""",marau356@gmail.com,false,"""""","""""","""""",...,Araruama,,https://sigadocker.ufrj.br:8090/14DA5E6F-92A4-...,,"""10806673770""",Android,"""3.0.7""",false,1,
19910,7043,Laysa Martins Silva,Graduação,Ciências Biológicas: Microbiol e Imunologia,"""021972650022""",laysamartins2@gmail.com,false,"""""","""""","""""",...,Tijuca,"""""",https://s3.amazonaws.com/usercontent.caronae/p...,,"""12968735799""",iOS,"""1.5.0""",false,1,https://platform-lookaside.fbsbx.com/platform/...

In [ ]:
users_col = df_users.columns[0]
users_col

In [ ]:
x = users_col.split('|')
len(x)

In [ ]:
new_users = df_users[users_col].str.split('|', n=23, expand=True)
new_users

In [ ]:
new_rides = column_creator(df_rides)
new_rides

In [ ]:
new_ride_user = column_creator(df_ride_user)
new_ride_user

##Convertendo para arquivo CSV

In [ ]:
def csv_creator(data, name):
  dados = data.to_csv(index=False)
  arquivo = open(name, 'w')
  arquivo.write(dados)
  arquivo.close()

In [ ]:
csv_creator(new_users, 'parcial_users.csv')

In [ ]:
csv_creator(new_rides, 'parcial_rides.csv')

In [ ]:
csv_creator(new_ride_user, 'parcial_ride_user.csv')